<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body class="page">
    <main class="page_container">
        <section class="logo page_section">
            <h1 class="logo_title">ProsteFinanse</h1>
            <article class="logo_text">
                Zrobić budżet to wskazać swoim pieniądzom, dokąd mają iść,zamiast się
                zastanawiać, gdzie się rozeszły.<br> <strong>John C. Maxwell</strong>
            </article>
        </section>
        <section class="login page_section">
            <form action="" class="login_form">
                <input type="text" class="login_input" placeholder="Adres e-mail">
                <input type="password" class="login_input" placeholder="Hasło">
                <button type="submit" class="login_btn">Zaloguj się</button>
            </form>
            <button class="login_btn login_btn--create">Utwórz nowe konto</button>
        </section>
    </main>
</body>

</html>