* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#fm-widget-root {
  height: 0px;
}

.page {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 400px 1fr;
      grid-template-rows: 1fr 400px 1fr;
      grid-template-areas: '.' 'container' '.';
  background-image: url("/img/background.jpg");
  background-size: cover;
  z-index: 3;
}

.page_container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: container;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
}

.page_container--blur {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.page_section {
  margin: 0 50px;
}

@media (max-width: 1250px) {
  .page_container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .page_section {
    margin: 0;
  }
}

@media (max-width: 900px) {
  .page {
    -ms-grid-rows: 50px 1fr 50px;
        grid-template-rows: 50px 1fr 50px;
  }
  .page_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
  }
}

.logo {
  width: 450px;
  padding: 40px 20px 40px 0;
}

.logo_title {
  font-size: 64px;
}

.logo_text {
  font-size: 24px;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .logo {
    width: 350px;
    padding: 10px 0;
  }
  .logo_title {
    font-size: 48px;
    text-align: center;
  }
  .logo_text {
    font-size: 18px;
    text-align: center;
  }
}

.login {
  background-color: rgba(84, 84, 255, 0.8);
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}

.login_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login_input {
  height: 40px;
  font-size: 16px;
  padding: 12px;
  margin: 13px;
}

.login_btn {
  height: 45px;
  font-size: 24px;
  line-height: 45px;
  color: white;
  margin: 13px;
  border: none;
  outline: none;
  background-color: #a3a3cd;
}

.login_btn:hover {
  cursor: pointer;
  background-color: #717191;
}

.login_btn--create {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 200px;
  margin-top: 110px;
  font-size: 16px;
  background-color: #c73071;
}

.login_btn--create:hover {
  background-color: #af2a64;
}

@media (max-width: 900px) {
  .login {
    width: 300px;
    padding: 5px;
  }
  .login_input {
    padding: 6px;
    margin: 7px;
  }
  .login_btn {
    margin: 7px;
  }
  .login_btn--create {
    margin-top: 50px;
  }
}

.registration {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  background-color: #5454ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 2px 2px 6px black;
          box-shadow: 2px 2px 6px black;
  padding: 30px;
}

.registration--show {
  visibility: visible;
}

.registration_title {
  height: 40px;
  font-size: 48px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

.registration_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration_label {
  font-size: 24px;
  color: white;
  margin: 5px;
}

.registration_input {
  height: 40px;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 5px;
}

.registration_error {
  color: #c73071;
  text-transform: capitalize;
  font-size: 24px;
  font-family: Arial;
}

.registration_btn {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 45px;
  width: calc(100%  -  60px);
  font-size: 24px;
  line-height: 45px;
  color: white;
  margin: 30px;
  border: none;
  outline: none;
  background-color: #c73071;
}

.registration_btn:hover {
  cursor: pointer;
  background-color: #af2a64;
}

.registration_exit {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: white;
}

.registration_exit:hover {
  cursor: pointer;
}

.container {
  min-height: 600px;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header {
  background-color: #c73071;
  color: white;
  height: 100px;
  width: 100%;
  text-align: center;
  line-height: 100px;
  font-size: 48px;
  font-weight: bold;
  font-family: 'Bodoni Moda', serif;
}

.content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__main {
  background-color: #a3a3cd;
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px;
}

.content__avatar {
  height: 100px;
  width: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.content__user {
  font-size: 24px;
  line-height: 40px;
  margin: 0 auto;
  color: white;
}

.content__name {
  font-weight: bold;
  color: black;
  font-family: 'Bodoni Moda', serif;
}

.content__time {
  font-size: 20px;
  line-height: 40px;
  margin: 0 auto;
  color: white;
}

.content__arrow:hover {
  cursor: pointer;
  color: black;
}

.content__date {
  position: relative;
  top: -3px;
  left: 0;
}

.content__summary {
  margin-bottom: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
}

.content__title {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.content__summary-incomes {
  color: white;
  position: relative;
  top: 0;
  left: 0;
}

.content__incomes-value {
  position: absolute;
  top: 0;
  right: 0;
  color: green;
  font-weight: bold;
}

.content__summary-expenses {
  color: white;
  position: relative;
  top: 0;
  left: 0;
}

.content__expenses-value {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  font-weight: bold;
}

.content__balance {
  color: white;
  margin-top: 20px;
  position: relative;
  top: 0;
  left: 0;
}

.content__balance-value {
  position: absolute;
  top: 0;
  right: 0;
  color: green;
  font-weight: bold;
}

.content__options-list {
  color: white;
  margin-top: 30px;
}

.content__option {
  font-size: 20px;
  margin-bottom: 10px;
}

.content__option:hover {
  cursor: pointer;
  color: black;
}

.content__expenses {
  background-color: white;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
